<H1>Purchase Lists</H1>
<%= link_to 'Create Purchase List', new_purchase_list_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Date</th>
    <th>Total</th>
    <th>Actions</th>
  </tr>
  <% @purchase_lists.each do |purchase_list| %>
  <tr>
    <td><%= purchase_list.id %> </td>
    <td><%= purchase_list.name %> </td>
    <td><%= purchase_list.purchase_date %> </td>
    <td><%= purchase_list.total %> </td>
    <td>
      <%= link_to 'view', purchase_list_path(purchase_list) %> |
      <%= link_to 'edit', edit_purchase_list_path(purchase_list) %> |
      <%= link_to 'delete', purchase_list_path(purchase_list),
                            method: :delete,
                            data: {confirm: 'Are you sure?'}%>
  </td>
  </tr>
  <% end %>
</table>
