<div class="card border-dark">
  <h1 class="text-center">
    <%= @purchase_list.id %>-<%= @purchase_list.name %>
  </h1>

  <p class="card-text text-center">
    <%= @purchase_list.purchase_date %> |
    <strong>$</strong>
    <%= @purchase_list.total %> |
    <%= @purchase_list.quantity %>
    <strong>Items</strong>
  </p>
</div>

<%= render 'purchase_list_items/list' %>

<%= render 'footer' %>
