<!DOCTYPE html>
<html>
  <head>
    <title>Myhomecontrol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'products', products_path %> |
    <%= link_to 'Purchase List', purchase_lists_path %> 
    <%= yield %>
  </body>
</html>
